{% extends 'base.html' %}

{% block title %}Setting A New Password{% endblock %}

{% block body_class %}template-set{% endblock %}

{% block content %}
  <section class="section">
    <div class="logo-hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-size-1">E<strong>League</strong></h1>
          {% if validlink %}
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
          {% endif %}
        </div>
      </div>
    </div>

    {% if validlink %}
      <div class="container">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <h3 class="title is-size-3 has-text-centered">Set a New Password</h3>
            <form method="post">
              {% csrf_token %}
              {% include 'partials/form_field.html' with field=form.new_password1 custom_help='Your password must contain at least 8 alphanumeric characters.' %}
              {% include 'partials/form_field.html' with field=form.new_password2 %}
              <div class="field is-grouped is-grouped-right">
                <div class="control">
                  <input class="button is-primary" type="submit" value="Submit"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </section>
    {% else %}
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="content">
              <p class="has-text-centered">The password reset link was invalid, possibly because it has already been
                used. Please request a new password reset.</p>
              <p class="has-text-right"><a href="{% url 'password_reset' %}"><i class="fas fa-arrow-right"></i> Back to
                reset your password</a></p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
{% endblock %}`