{% extends 'base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block body_class %}template-reset{% endblock %}

{% block content %}
  <section class="section">
    <div class="logo-hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-size-1">E<strong>League</strong></h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="content has-text-centered">
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <p class="has-text-right"><a href="{% url 'dashboard_login' %}"><i class="fas fa-arrow-right"></i> Head to the login page</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}`