{% load static %}

<html lang="en-GB">
<head {% block ogp_prefix %}prefix="og: http://ogp.me/ns#"{% endblock %}>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {# TODO: Work out how to do SEO and Facebook OpenGraph #}
  {#  <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}"/>#}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#3D5AFE"/>

  <title>{% block title %}{% endblock %}</title>

  {# TODO: Add a favicon #}
  {# TODO: Add fonts to the stylesheet #}

  <link rel="stylesheet" type="text/css" href="{% static 'css/eleague.css' %}"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  {% block ogp_metadata %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="site-wrapper">
  <div class="site-colour-band"></div>
  <div class="site-content">
    {# TODO: Create a navigation bar #}
    {# {% navigation calling_page=page %}#}
    {% block content %}{% endblock %}
  </div>

  {# TODO: Create a footer #}
  {#  {% footer %}#}
</div>
{% block extra_js %}{% endblock %}
</body>
</html>