{% if messages %}
  {% for m in messages %}
    {% include 'partials/err_notification.html' with error=m id=forloop.counter kind=m.tags %}
  {% endfor %}
{% endif %}
<h2 class="title is-size-3">Change your password</h2>
<form method="post" action="{% url 'dashboard_change_password' %}" id="password-form">
  {% csrf_token %}
  {% include 'partials/form_field.html' with field=form.old_password %}
  {% include 'partials/form_field.html' with field=form.new_password1 custom_help=custom_help_labels %}
  {% include 'partials/form_field.html' with field=form.new_password2 %}
  <div class="field is-grouped is-grouped-right">
    <div class="control">
      <a class="button" id="form-cancel" href="#">Cancel</a>
    </div>
    <div class="control">
      <input class="button is-primary" id="form-submit" type="submit" value="Submit"/>
    </div>
  </div>
</form>