// Branding
.site-colour-band {
  background: $primary;
  height: 4px;
  width: 100vw;
}

.logo-hero {
  & .hero-body {
    padding-top: 7.5rem;
    padding-bottom: 4rem;

    & .title {
      color: map_get($grays, "80");

      font-weight: 400;

      & strong {
        font-weight: 700;
      }

      &.is-size-1 {
        font-size: 3.5rem !important;
      }
    }
  }
}

.logo-navbar {
  font-size: 24px;

  color: $brand-primary;

  &.logo-navbar:hover,
  &.logo-navbar:focus {
    color: map_get($brand, "80");
  }

  font-weight: 500;

  & strong {
    font-weight: 900;
  }
}

// Navbar

.navbar-menu > .navbar-end > .navbar-item {
  padding: 0.5rem 0;
  margin: 0 0.75rem;

  font-weight: 600;

  &:not(.has-button):hover,
  &:not(.has-button):focus {
    padding-bottom: 0.375rem;
    border-bottom: 0.125rem solid $brand-primary;
  }

  &.is-active {
    color: $brand-primary;
    padding-bottom: 0.375rem;
    border-bottom: 0.125rem solid $brand-primary;

    &:not(.has-button):hover,
    &:not(.has-button):focus {
      border-bottom: 0.125rem solid map_get($brand, "90");
      color: map_get($brand, "90");
    }
  }

  &.has-dropdown {

    &:hover,
    &:focus {
      padding-bottom: 0.5rem;
      border-bottom: 0 solid transparent;
    }

    & > .navbar-link {
      padding-left: 0;

      &:hover::after,
      &:focus::after {
        border-color: $brand-primary;
      }
    }

    & .navbar-dropdown {
      box-shadow: 0 8px 8px map_get($grays, "25");
      background-color: map_get($grays, "0");
      border-top: 2px solid map_get($brand, "0");

      & .navbar-item.navbar-item.navbar-item {
        &:hover,
        &:focus {
          background-color: map_get($grays, "20") !important;
          color: map_get($grays, "80");
        }

        &.is-active {
          background-color: map_get($brand, "0") !important;
          color: map_get($brand, "100");

          &:hover,
          &:focus {
            background-color: map_get($brand, "5") !important;
            color: map_get($brand, "120");
          }
        }
      }
    }
  }

  &.has-button {
    padding-bottom: 0.5rem;
    border-bottom: 0 solid transparent;

    & .button.is-primary {
      background-color: map_get($brand, "0");
      color: map_get($brand, "100");

      &:hover,
      &:focus {
        background-color: map_get($brand, "5");
        color: map_get($brand, "120");
      }

      &:focus,
      &.is-focused {
        box-shadow: 0 0 0 0.125em map_get($brand, "20");
      }
    }
  }

  &.navbar-cta {
    margin-right: 2rem;
  }
}

// Forms
span.is-required {
  color: $red;
}

a.is-secondary-link {
  color: map_get($grays, "60");
  text-decoration: underline;
  line-height: 40px;

  &:focus,
  &:hover {
    color: $text;
  }
}

// Breadcrumbs
.breadcrumb ul {
  & li a {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.875rem;

    color: map_get($grays, "60");

    &:hover,
    &:focus {
      color: map_get($grays, "80");
    }
  }
}

// Buttons
.button {
  &.is-primary {
    &:hover,
    &:focus {
      background-color: map_get($brand, "70");
    }
  }

  &:not(.is-primary) {
    background-color: map_get($grays, "20");
    color: map_get($grays, "90");
    border: 0 solid transparent;

    &:hover,
    &:focus {
      background-color: map_get($grays, "30");
      color: map_get($grays, "100");

      & .fas {
        color: map_get($grays, "70");
      }
    }

    &:focus:not(.is-active) {
      box-shadow: 0 0 0 0.125em rgba(map_get($grays, "30"), 0.35);
    }
  }

  & .fas {
    margin-left: 6px;
    color: map_get($grays, "60");
  }
}

// Sidebar menus
.menu-list li {
  &:not(last-of-type) {
    margin-bottom: 0.5rem;
  }

  & a {
    &.is-disabled {
      color: map_get($grays, "70");
      background-color: map_get($grays, "20");
    }

    &:hover,
    &:focus {
      color: map_get($brand, "100");
      background-color: map_get($brand, "0");
    }

    &.is-active {
      color: map_get($brand, "110");
      background-color: map_get($brand, "5");

      &:hover,
      &:focus {
        color: map_get($brand, "120");
        background-color: map_get($brand, "10");
      }
    }
  }
}

// Generic
hr {
  background-color: map_get($grays, "30");
  height: 1px;
}

a.is-disabled {
  pointer-events: none;
}

section.is-inset {
  background-color: map_get($grays, "20");
  height: 100vh;
}

.info-wrapper {
  flex-grow: 1;

  & .level-item {
    width: 100%;

    & > h2 {
      flex-grow: 1;
      line-height: 40px;
    }
  }
}

.recessed {
  background-color: map_get($grays, "20");
}

.dash-header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include from($tablet) {
    padding-top: 2rem;
  }
}

.league {
  background-color: white;

  border-radius: $radius-large;

  padding: 1rem;

  & .league-title {
    & .title {
      color: map_get($grays, "90");
    }

    & .subtitle {
      color: map_get($grays, "70");
      font-weight: 500;
    }
  }

  & .league-divider {
    margin-bottom: 2rem;
    margin-top: 1rem;

    background-color: map_get($grays, "20");
    height: 4px;
    border-radius: 1px;
    max-width: 100px;
  }
}

@include until($desktop) {
  .is-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.tabular-figures {
  font-variant-numeric: tabular-nums;
}

.league-table-container {
  width: 100%;
  display: grid;

  column-gap: 1.25rem;
  grid-auto-rows: auto;
  grid-template-rows: auto;
  grid-template-columns: [split] 1fr [status] auto [entries] auto [actions] auto;

  & .button .fas {
    margin-left: 0;
  }

  & .button.is-primary .fas {
    color: map_get($brand, "0");
  }

  & div {
    display: grid;
    align-items: center;
  }

  & .header-cell {
    font-family: $title-family;
    color: map_get($grays, "80");
    vertical-align: bottom;
    font-weight: bold;
  }

  & .actions {
    justify-items: right;
  }

  & .status-tag {
    justify-items: left;

    & .tag {
      &.closed {
        background-color: #feecf0;
        color: #cc0f35;
      }

      &.open {
        background-color: rgba(map_get($brand, "0"), 0.7);
        color: map_get($brand, "70");
      }

      &.opens-in {
        background-color: #fffbeb;
        color: #947600;
      }

      &.published {
        background-color: #effaf3;
        color: #257942;
      }
    }
  }

  & .split-name {
    grid-column: split;
    line-height: 1.5;

    padding: .5rem 0;

    &.is-closed {
      opacity: 70%;
    }

    & strong {
      display: block;
      font-family: $title-family;
      font-size: 1.5rem;
      color: map_get($grays, "70");
    }

    & span {
      font-size: 0.875rem;
      color: map_get($grays, "60");
    }
  }

  & a.split-name {
    &:hover,
    &:focus {
      & strong {
        color: map_get($grays, "90");
      }

      & span {
        color: map_get($grays, "70");
      }
    }
  }
}

a.button.is-light {
  background-color: map_get($grays, "20");
  color: map_get($grays, "70");

  &:disabled,
  &.is-disabled {
    background-color: map_get($grays, "20");
    color: map_get($grays, "70");
  }
}

[data-tooltip]:not(.is-loading)::before,
[data-tooltip]:not(.is-disabled)::before,
[data-tooltip]:not([disabled])::before {
  line-height: 1.1;
}
