@charset "utf-8";

// Variable customisation goes here

$grays: (
        "0": #FCFDFF,
        "5": #F9FBFD,
        "10": #F7F8FA,
        "20": #EAECEE,
        "25": #DADCDF,
        "30": #D5D7DA,
        "40": #B7B9BD,
        "50": #929498,
        "60": #6D6F73,
        "70": #4E5053,
        "80": #393A3D,
        "90": #2D2E30,
        "100": #29292B
);

$brand: (
        "0": #D5DFFF,
        "5": #C8D4FF,
        "10": #B4C5FF,
        "20": #91A6FF,
        "30": #7089FF,
        "40": #536FFF,
        "50": #3D5AFE,
        "60": #264FE6,
        "70": #1648D0,
        "80": #0C45BE,
        "90": #0643B0,
        "100": #0243A6,
        "110": #042F82,
        "120": #022B71,
        "130": #012966
);
$brand-primary: map_get($brand, "50");

// General settings
$primary: $brand-primary;
$body-background-color: map_get($grays, "0");
$background: map_get($grays, "0");
$widescreen-enabled: false;
$text: map_get($grays, "100");
$text-strong: map_get($grays, "100");
$text-light: map_get($grays, "70");
$link: $brand-primary;
$radius: 4px;
$radius-large: 8px;
$radius-small: 2px;

// Tooltips
$tooltip-radius: $radius-large;
$tooltip-background-color: map_get($grays, "100");
$tooltip-color: map_get($grays, "0");
$tooltip-font-size: 14px;
$tooltip-padding: .6rem;

// Forms
$label-color: map_get($grays, "60");
$label-weight: 700;
$input-color: $text;
$input-background-color: map_get($grays, "0");
$input-border-color: map_get($grays, "30");
$input-hover-color: $input-color;
$input-hover-border-color: map_get($grays, "40");
$input-icon-color: map_get($grays, "30");
$input-icon-active-color: map_get($grays, "60");

// Navbar
$navbar-background-color: $background;
$navbar-height: 4.5rem;
$navbar-item-color: map_get($grays, "60");
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-arrow: map_get($grays, "50");
$navbar-divider-height: 1px;
$navbar-divider-background-color: map_get($grays, "20");

// Breadcrumbs
$breadcrumb-item-padding-vertical: 1rem;
$breadcrumb-item-separator-color: map_get($grays, "40");

// Tables
$table-row-hover-background-color: rgba(map_get($brand, "0"), 0.3);

// Font families
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$family-primary: proxima-nova, $family-sans-serif;
$title-family: freight-sans-pro, $family-sans-serif;
$subtitle-family: freight-sans-pro, $family-sans-serif;

@import url("https://use.typekit.net/zhf1ezh.css"); // Import the Fontkit web fonts
@import "~bulma/bulma";
@import '@creativebulma/bulma-tooltip';
@import "custom";