{% extends 'dashboard/index.html' %}

{% load navigation static %}

{% block content %}
  <div class="container is-section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'dashboard_index' %}">Dashboard</a></li>
        <li><a href="{% url 'dashboard_contact_info' %}">Contact info</a></li>
        <li class="{% is_nav_active 'dashboard_change_password' %}"><a href="{% url 'dashboard_change_password' %}"
                                                                       aria-current="page">Change password</a></li>
      </ul>
    </nav>
  </div>

  <section class="section">
    {% if form.non_field_errors %}
      <div class="columns">
        <div class="column is-8 is-offset-2 is-6-desktop is-offset-3-desktop">
          {% include 'partials/err_notification.html' with error=form.non_field_errors.0 %}
        </div>
      </div>
    {% endif %}
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h2 class="title is-size-2">Change your password</h2>
        <form method="post" action=".">
          {% csrf_token %}
          {% include 'partials/form_field.html' with field=form.old_password %}
          {% include 'partials/form_field.html' with field=form.new_password1 custom_help=custom_help_labels %}
          {% include 'partials/form_field.html' with field=form.new_password2 %}
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <input class="button is-primary" type="submit" value="Submit"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}