{% extends 'base.html' %}

{% block navbar %}
  {% include 'dashboard/partials/navbar.html' %}
{% endblock %}

{% block title %}Eleague Dashboard{% endblock %}

{% block content %}
  <div class="dash-header container is-section">
    <h1 class="is-size-1 title">Dashboard</h1>
  </div>
  <div class="section recessed">
    <div class="container">
      {% for league in leagues %}
        {% include 'dashboard/partials/league_splits_table.html' with league=league %}
      {% empty %}
        <div class="error-container">
          <div class="content">
            {# TODO: Work out how to configure the email address here #}
            <h2 class="title is-size-2">There are no leagues running right now</h2>
            <p>Check back again soon or <a href="mailto:foo@bar.baz">email the organisers</a> for an update about what's
              coming next.</p>
          </div>
          <div class="graphic">
            {% include 'dashboard/svgs/no_data.svg' %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}